<% provide(:title, "Contact") %>

<h1>SmogCheckNV and Renewal</h1>
<h2>Contact SmogCheckNV Emissions Academy</h2>
<p>Contact information for SmogCheckNV Emissions Academy</p>
<p>Contact information for SmagCheckNV and Renewal</p>
