<div class="center jumbotron">
  <h1>SmogCheckNV and Renewal</h1>

  <h2>This is the Home Page for the SmogCheckNV Emissions Academy.</h2>
</div>
<p>This page will link to the curriculum resources, and the Emissions Analyzer
  Simulator, for the SmogCheckNV Emissions Academy. For more information about
  the Emissions Academy, look to our About page.</p>
